<footer class="footer">
  <section class="section-b-space light-layout">
    <div class="container">
      <div class="footer-contant">
        <div class="card-body tab2-card">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink [routerLink]="['/visit/customer-visits-list']">VISITAS</a>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink [routerLink]="['/home/catalog']">CATÁLOGO</a>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink [routerLink]="['/visit/customer-orders']">PEDIDOS</a>
            </li>
            <li [ngbNavItem]="4">
              <a ngbNavLink [routerLink]="['/visit/customer-location']">LOCALIZAR</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>