.btn-outline {
    display: inline-block;
    padding: 2vw 0.8vw;
    letter-spacing: 0.05em;
    border: 2px solid var(--theme-deafult);
    position: relative;
    color: white;
    margin-left: 1vw;
    margin-top: 6px;

    &:before {
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        background-color: var(--theme-deafult);
        z-index: -2;
    }

    &:hover,
    &:focus {
        color: white !important;
        background-color: var(--theme-deafult);

        i {
            color: white !important;
        }

        &:before {
            transition: 0.5s all ease;
            left: 0;
            right: 0;
            opacity: 1;
        }
    }

    &.btn-sm {
        padding: 9px 16px;
        font-size: 12px;
    }
}
a {
    color: black;
    transition: 0.5s ease;
    text-decoration: none;
}

.footer-content{
    position: relative;
    align-self: flex-end;
}