<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <img src="assets/images/icon/arrow_back.png" class="arrow_back" (click)="goBack()">
                    <span>DETALLE DEL PEDIDO</span>
                </div>
            </div>
        </div>
    </div>
</div>
<content padding>
    <div *ngIf="productsOrder.length > 0">
        <div class="wishList" *ngFor="let product of productsOrder.slice().reverse()">
            <div class="col" size="4" class="image-container" *ngIf="product.image.indexOf('.') === -1">
                <img [src]="ImageSrc ? ImageSrc : (apiService.thumbnailsDirectory + product.image + (product?.image?.includes('.') ? '' : '.jpg')) " [alt]="product.prod_name" class="img-fluid">
            </div>
            <div class="col" size="4" class="image-container" *ngIf="product.image.indexOf('.') !== -1">
                <img [src]="ImageSrc ? ImageSrc : (apiService.thumbnailsDirectory + product.image + (product?.image?.includes('.') ? '' : '.jpg')) " [alt]="product.prod_name" class="img-fluid">
            </div>
            <div size="8">
                <div class="ref">REF: {{product.prod_name}}</div>
                <div class="txt9 description-product">Descripción: {{product.prod_descriptions}}</div>
                <div class="txt9">Precio: {{product.price}}</div>
                <div class="txt9">Cantidad: {{product.quantity}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="productsOrder.length === 0">
        <p>No se guardaron productos en este pedido</p>
    </div>
</content>